
<div class="main-container">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#parameters" data-toggle="tab">Activities</a></li>
		<li><a href="#mapper" data-toggle="tab">Call Definitions</a></li>
		<li><a href="#xsl-source" data-toggle="tab">Entry Definitions</a></li>
		<li><a href="#sql-actions" data-toggle="tab">Map</a></li>
		<li><a href="#sql-actions" data-toggle="tab">Activity Types</a></li>
		<li><a href="#sql-actions" data-toggle="tab">Messages</a></li>
	</ul>
</div>

