<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<clear/>
	<add name="Mivision2" connectionString="Server=.;Database=;User Id=;Password=" providerName="System.Data.SqlClient"/>
</connectionStrings>
