
<div class="main-container">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#parameters" data-toggle="tab">Parameters</a></li>
		<li><a href="#mapper" data-toggle="tab">Mapper Source</a></li>
		<li><a href="#xsl-source" data-toggle="tab">XSL Source</a></li>
		<li><a href="#sql-actions" data-toggle="tab">SQL Actions</a></li>
	</ul>
</div>
