@using ProMasterAssistant.Models
@model List<ConnectionStringsModel>
@{
}
<div class="main-container">
	<br/><br/>
	<a href="#" role="button" id="setbtn" class="btn">Set Active Connection</a>
	<br/><br/>
	<table class="connections">
		<thead>
			<tr><th>Name</th><th>ConnectionString</th></tr>
		</thead>
		<tbody id="list">
            @foreach (var item in Model)
            {
                <tr class="@(ViewBag.CurrentConnectionStringName == item.Name ? "current" : "")">
                    <td>@item.Name</td>
                    <td>@item.ConnectionString</td>
                </tr>
            }
		</tbody>
	</table>
</div>

@section scripts
{
<script type="text/javascript" src="~/Scripts/database.js"></script>
}	
