<ul class="nav nav-tabs" id="gltabs">
	<li@{ if (ViewData["menu"] as string == "index")
		  {
		  	<text> class="active" </text>
		  }
 
	   }>
		<a href="@Url.Action("Index")">Types</a>
	</li>
	<li @{ if (ViewData["menu"] as string == "segments")
		   {
		   	<text>class="active" </text>
		   }
 
		}>
		<a href="@Url.Action("Segments")">Segments</a>
	</li>
	<li @{ if (ViewData["menu"] as string == "rules")
		   {
		   	<text>class="active" </text>
		   }
 
		}>
		<a href="@Url.Action("Rules")">Rules</a>
	</li>
	<li @{ if (ViewData["menu"] as string == "test")
		   {
		   	<text>class="active" </text>
		   }
		}
		>
		<a href="@Url.Action("Test")">Test</a>
	</li>
</ul>
