@using ProMasterAssistant.Infrastructure
@model List<MenuItem>

<ul class="navbar" style="background-color:pink;">
@foreach (var item in Model)
{
    <li @(item.Selected ? "class=active" : "") style="width:300px;">
        <a href="@Url.Action(item.Action, item.Controller)">@item.Text</a>
    </li>
}
</ul>
